@import "h5bp";

$black:                 #000 !default;
$grayDarker:            #222 !default;
$grayDark:              #333 !default;
$gray:                  #555 !default;
$grayLight:             #999 !default;
$grayLighter:           #CCCCCC !default;
$white:                 #fff !default;
$link:                  #09C !default;
$greenLight:            #9C0 !default;
$orange:            #FF6400 !default;


body{
  color: $grayLighter;
  font: 14px/18px Consolas, Courier New, Courier, Monospace;
  background-color:#000000;
  padding:10px;
}

.welcome {
  padding: 15px 0 15px 40px;
}

a, a:visited{
  color:$link;
}

.helptext{
  color: $black;
  background: $greenLight;
}


#output{
  min-height:200px;
}
#input {
  #inputfield{
    color:$white;
    background-color:$black;
    width:700px;
    border:none;
    outline: 0;
    vertical-align: baseline;
    font: 14px/18px Consolas, Courier New, Courier, Monospace;
  }
  .prompt {
    color: $orange;
  }
}
