@import "h5bp";

$background:            #2C2D32 !default;
$black:                 #000 !default;
$grayDarker:            #222 !default;
$grayDark:              #333 !default;
$gray:                  #666 !default;
$grayLight:             #999 !default;
$grayLighter:           #CCCCCC !default;
$white:                 #fff !default;
$link:                  #09C !default;
$greenLight:            #9C0 !default;
$orange:                #FF6400 !default;

@font-face {
    font-family: 'Consolas';
    src: url('/fonts/consola.eot');
    src: url('/fonts/consola.eot?#iefix') format('embedded-opentype'),
         url('/fonts/consola.woff') format('woff'),
         url('/fonts/consola.ttf') format('truetype'),
         url('/fonts/consola.svg#consola') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Global Styles
body{
  color: $grayLighter;
  font: 14px/18px Consolas, Courier New, Courier, Monospace;
  background-color:$background;
  padding:10px;
}

a, a:visited, a:active {
  color:$link;
}

//Welcome Introduction
.welcome {
  padding: 15px 0 15px 40px;
}

.helptext {
  color: $black;
  background: $greenLight;
}


#output{
  min-height:10px;
}
#input {
  #inputfield{
    color:$white;
    background-color:$background;
    width:700px;
    border:none;
    outline: 0;
    vertical-align: baseline;
    font: 14px/18px Consolas, Courier New, Courier, Monospace;
  }
  .prompt {
    color: $orange;
  }
}

.prompt_history{
  .prompt_gray{
    color: $gray;
  }
  .command_gray{
    color: $white;
    &:before {
      content: ' '
    }
  }
}
table {
  &.helptable{
    width:100%;
    margin: 20px 0;
  }
  .thead{
    color: $orange;
  }
}
.dashed-border {
  border-bottom: 1px dashed #EFEFEF;
  border-top: 1px dashed #EFEFEF;
  padding: 5px 0;
  margin: 0 2px 10px 0;
  display: block;

}

#about{
  width:80%;
  margin:  10px 0;

  ul {
    li {
      & h4 {
        margin: 5px 0;
      }
      & p {
        margin: 5px 0;
      }
      margin: 10px 0;
    }
  }
}

ol.listno{
  list-style-type:decimal;
}

.fb-like-button {
  position:fixed !important;
  bottom:8px;
  right:120px;
}

.twitter-share-button {
 position:fixed !important;
  bottom:10px;
  right:0px;
}
