<div id="about">
	<span class="dashed-border">
		I am 32yrs old, Frontend Javascript Web Developer, from London, UK.
	</span>
	<p>My specialty lies in the crafting highly interactive experiences for the web and other digital media. I provide progressive art direction, design and programming services for design firm, advertising agencies and business looking to create memorable experiences that create and reinforce brand recognition.</p>
	
	<p>Ideas are my bread n butter. I mold and shape them into living breathing interactive experiences and captivate. I believe that great interactive ideas drive on the tension between design and code.</p>
	<h3>
		Projects,
	</h3>
	<ul>
		<li>
			<h4>HONDA GO TOURING APP</h4>
			<p>Go Touring is a free app brought to you by Honda. We help find you the best motorcycle touring routes across Europe and the UK, as well as Mobike Hotels and Honda dealers along the way. You can also use Go Touring to help you prepare for your tour by using the handy equipment checklist or even to check the weather en route.</p>
			<a href="http://itunes.apple.com/us/app/gotouring/id486839700?mt=8">Visit Website</a>
		</li>
		<li>
			<h4>JAMES KINGMAN</h4>
			<p>Portfolio site for design James Kingman to showcase his work collection as graphics and video. The site is developed using WordPress CMS and theme is fully customized with custom post and plugins.</p>
			<a href="http://jameskingman.com/">Visit Website</a>
		</li>
		<li>
			<h4>HONDA MOTORCYCLES</h4>
			<p>Offical motorcycle website for Honda UK developed on PHP, Wordpress platform in 13 different languages. The content for all langauges in managed from one simple secure administration panel.</p>
			<a href="http://hondamc2013.com/">Visit Website</a>
		</li>
	</ul>
</div>