<table border="0" style="margin-left:2px;">
   <tbody>
      <tr>
         <td width="360px"><a href="mailto:gaurav@jassal.me?subject=I want to hire you" target="_blank" title="Get in touch on e-mail">Email</a><br />gaurav<span style="color:#666">[at]</span>jassal<span style="color:#666">[dot]</span>me</td>
      </tr>
      <tr></tr>
      <tr>
         <td><br /><a href="https://twitter.com/#!/gauravjassal" target="_blank" title="Follow me on twitter">Twitter</a><br /><span style="color:#666">[at]</span>gauravjassal</td>
      </tr>
      <tr>
         <td></td>
         <td></td>
      </tr>
      <tr></tr>
      <tr>
         <td><br /><a href="https://plus.google.com/111648100843323365754/posts">Google+</a><br /><span style="color:#666">[+]</span>gauravjassal</td>
      </tr>
      <tr>
         <td>&nbsp;</td>
         <td>&nbsp;</td>
      </tr>
      <tr>
         <td><a href="http://jsfiddle.net/user/creativeaura/fiddles/">jsFiddle</a><br />jsfiddle.net/user/creativeaura/fiddles/</td>
      </tr>
      <tr>
         <td>&nbsp;</td>
         <td></td>
      </tr>
      <tr>
         <td><a href="https://github.com/creativeaura/">GitHub</a><br />creativeaura<span style="color:#666">[dot]</span>github<span style="color:#666">[dot]</span>com</td>
      </tr>
   </tbody>
</table>