<p>In this experiment I have used varios open source libraries. Each command in the project is written as a modular component and can be extended to add more commands.</p>
<ul>
  <li>BackboneJS [<a href="http://backbonejs.org/">http://backbonejs.org</a>]</li>
  <li>RequireJS [<a href="http://requirejs.org/">http://requirejs.org</a>]</li>
  <li>Yeoman [<a href="http://yeoman.io/">http://yeoman.io</a>]</li>
  <li>SASS  / Compass [<a href="http://compass-style.org/">http://compass-style.org</a>]</li>
  <li>GruntJS [<a href="http://gruntjs.com/">http://gruntjs.com</a>]</li>
  <li>Mocha [<a href="http://visionmedia.github.com/mocha/">http://visionmedia.github.com/mocha</a>]</li>
</ul>
